.chart-container {
    width: 50vw;
    height: 50vh;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
}
.chart-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    height: 100vh;
    width: 100vw;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.7);
}
.disconnect-button, .connect-button {
    position: absolute;
    right: 0;
}